/* ------- START UTIL CLASSES ------*/
.end-align-child {
    display: flex;
    align-items: flex-end;
    flex-direction: row;
}

.end-justify-child {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}

.start-justify-child {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

.end-justify-self {
  display: flex;
  align-self: flex-end;
}

.top-buffer { margin-top:20px; }

.direction-column {
  display: flex;
  flex-direction: column;
}

.btn-classic {
  border: 1px solid grey !important
}

.full-width {
  width: 100%
}
.black-text-list li a {
  color: black !important ;
}

.give-me-shadow {
    box-shadow: 0 5px 6px rgba(0,0,0,0.16), 0 5px 6px rgba(0,0,0,0.23);
}

.border-radius {
  border-radius: 5px;
}

.padding {
    padding: 25px
}

.font-notcool {
  font-family: 'Russo One', sans-serif;
  letter-spacing: 1.5px;
}

.btn:focus,.btn:active {
   outline: none !important;
   box-shadow: none !important;
}
/* ------- END UTIL CLASSES ------*/


/* ----- RED ZONE ----- */
select {
  height: 38px;
  width: 100%;
  font-family: 'Russo One', sans-serif !important;
  font-weight: 400;
  letter-spacing: 1px;
}

/*------ RED ZONE --- */



/*------ ANIMATION --- */

.light-angle-transform {
  transition: transform 0.1s ease-in-out !important
}
.light-angle-transform:hover {
   transform: rotateZ(1deg) !important

}



/*------- END ANIMATION----*/


.horizon-classic {
  height: 0.5px;
  width: 50%;
  background-color: grey;
}

.col-centered{
  float: none;
  margin: 0 auto;
}

.menu {
  background-color:#253237;
  list-style: none;
  height: 35px;
  margin-bottom: 3px
}

.menu-item-col { 
  position: relative;
  border-right: 2px solid #9DB4C0;
  padding: 2px;
}

.menu-link {
  color: white;
  text-decoration: none;
  font-family: 'Russo One', sans-serif;
  font-weight: 100;
  font-size: 18px;
}

.submenu {
  position: absolute;
  display: none;
  background-color: #7D7C84;
  min-width: 170px;
  font-weight: 100;
  font-family: 'Russo One', sans-serif;
  letter-spacing: 1px;
  padding: 5px;
  padding-left: 2px;
  margin-left: -15px;
}



.menu-item-col:hover .submenu {
  display: block;
  z-index: 2;
}
.submenu ul li:hover {
  background-color: blue
}

.menu-item-col:hover {
  background-color: #7D7C84
}

.sub-menu-item {
  padding: 5px;
}

.sub-menu-item-link {
  width: 100%
}

.sub-menu-item:hover {
  background-color: #253237
}

li > a {
  text-decoration: none;
  -webkit-tap-highlight-color: white;
  color: white
}

li > a:hover {
  color: white
}


.header {
  background-color: #253237;
  transition: transform 900ms ease-in-out;
  box-shadow: 0 5px 6px rgba(0,0,0,0.16), 0 5px 6px rgba(0,0,0,0.23);
  border-radius: 5px
}

.smooth-hide {
  /*display: 'inline-block';*/
  transform: translate(0px, -200px)
}
.smooth-show {
  transform: translate(0px, 0px)
}


.logo-image {
  height:110px;
  width: 140px;
}
.small-icon {
  width: 40px;
  height: 40px
}
.bottom-spaced{
  margin-bottom: 5px
}

.body, .slick {
  height: 500px;
}
.body {
  background-color:transparent;
  margin-top: 5px;
  width: 100%;
}

.slick {
  width: 100%;
}

.slider {
  position: relative
}
.slide {
  width: 100%;
  height: 500px;
  position: absolute
}
.filter-menu {
  background-color: green
}
.item-image {
  width:100%;
  height: auto;
}
.item-body {
  width:100%;

}
.item {
  height: 400px;
}
@media (max-width: 650px) {
  .filter-menu {
    display: none
  }
  .item{
    max-width: 50%;
  }
}

@media (max-width: 450px) {
  .item {
        height: 300px;
        margin-bottom: 30px
  }

}



 #s1 {background-color: grey}
 #s2 {background-color: blue}
 #s3 {background-color: green}
 
 .sticky {
  position: fixed;
  width: 100%;
  margin-bottom: 120px;
  top: 0;
  z-index: 2
}

.container-pro {
  margin: 5px
}

.hide-animation {

}

.details-category-text {
    color: #989898
}

.details-product-text {
  font-size: 35px;
  font-family: 'Permanent Marker', cursive;
}

.product-details-image {
  width: 100%;
  height: 100%;
  border-radius: 5px
}

.vertical-list-image {
  height: 75px;
  padding: 5px;
  border-radius: 5px
}

.vertical-image-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}






