
.col-centered{
  float: none;
  margin: 0 auto;
  }

.menu {
  background-color:#253237;
  list-style: none;
  height: 35px;
  margin-bottom: 3px
}

.menu-item-col { 
  position: relative;
  border-right: 2px solid #9DB4C0;
  padding: 2px;
}

.menu-link {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.submenu {
  position: absolute;
  display: none;
  background-color: #7D7C84;
  min-width: 120px;
  padding: 5px;
  padding-left: 2px;
  margin-left: -15px;
}

.menu-item-col:hover .submenu {
  display: block;
  z-index: 2;
}
.submenu ul li:hover {
  background-color: blue
}

.menu-item-col:hover {
  background-color: #7D7C84
}

.sub-menu-item {
  padding: 5px;
}

.sub-menu-item-link {
  width: 100%
}

.sub-menu-item:hover {
  background-color: #253237
}

li > a {
  text-decoration: none;
  -webkit-tap-highlight-color: white;
  color: white
}

li > a:hover {
  color: white
}

.end-align-child {
    display: flex;
    align-items: flex-end;
    flex-direction: row;
}

.end-justify-child {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}

.start-justify-child {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

.end-justify-self {
  display: flex;
  align-self: flex-end;
}


.header {
  background-color: #253237;
  
}

.logo-image {
  height:110px;
  width: 140px;
}
.small-icon {
  width: 40px;
  height: 40px
}
.bottom-spaced{
  margin-bottom: 5px
}

.body, .slick {
  height: 500px;
}
.body {
  background-color:transparent;
  margin-top: 5px;
  width: 100%;
}

.slick {
  width: 100%;
}

.slider {
  position: relative
}
.slide {
  width: 100%;
  height: 500px;
  position: absolute
}
.filter-menu {
  background-color: green
}
.item-image {
  width:100%;
  height: auto;
}
.item-body {
  width:100%;

}
.item {
  height: 400px;
}
@media (max-width: 650px) {
  .filter-menu {
    display: none
  }
  .item{
    max-width: 50%;
    height: 300px;
  }
}

 #s1 {background-color: grey}
 #s2 {background-color: blue}
 #s3 {background-color: green}
 
 .sticky {
  position: fixed;
  width: 100%;
  margin-bottom: 120px;
  top: 0;
  z-index: 2
}

.container-pro {
  margin: 5px
}




/* 
 .products-wrapper {
  display: flex;
  flex-wrap: wrap
}

.zero-padding-right {
  padding-right: 0
}
.item {
  height: 400px;
  width: 300px;
  margin: 5px;
  box-sizing: border-box;
  background-color: gold;
  padding-right:0
}

.item-image, .item-body {
  width: 100%;
  height: 100%
}

@media (max-width: 770px) {
  .filter-menu {
    display: none
  }
  .item{
    width: 170px;
    height: 200px;
  }
}

@media (max-width: 1200px) and (min-width: 650px) {
  .item{
    width: 225px;
    height: 275px;
  }
}

@media (max-width: 990px) and (min-width: 650px) {
  .item{
    width: 170px;
    height: 200px;
  }
} */
