
.menu {
  background-color:#A39A92;
  list-style: none;
}

.menu-item {
  padding: 5px;
  position: relative
}



.menu-link {
  color: white;
  text-decoration: none;
}

.submenu {
  position: absolute;
  display: none
}

.menu-item:hover .submenu {
  display: block;
}
