<template>
	<compose view="../header.html"></compose>
	<div class='row top-buffer'>
		<div class='col-md-7'>
			<div  class="big-image"> 
				<img class='give-me-shadow product-details-image' src=${details.images[2]} >
			</div>
		</div>
		<div class='col-md-5'>
				<div class="row">
					<div class="col-md-12">
						<div class="direction-column give-me-shadow border-radius padding">
							<span class="details-category-text">${i18n.tr(details.category)}</span>
							<span class="details-product-text">${i18n.tr(details.title)}</span>
							<span class="font-weight-light">${i18n.tr(details.price)}</span>
						</div>
					</div>
					<hr class="horizon-classic" size="30">
					<div class="col-md-12">
						<div class="row">
						  <div class="col-md-8">
						  	<div class='py-2'>
						  		<select class='standard-select' value.bind="selectedAmount">
							  		<option model.bind="null">${i18n.tr(amount)}</option>
							  		<option repeat.for="amount of amounts">${i18n.tr(amount+1)}</option>
							  	</select>
						  	</div>
						  </div>
						  <div class="col-md-4">
						  	<div class='py-2'>
						  		<select class='standard-select' value.bind="selectedSize">
							  		<option model.bind="null">${i18n.tr(size)}</option>
							  		<option repeat.for="size of sizes">${i18n.tr(size)}</option>
							  	</select>
						  	</div>
						  </div>
						</div>
						<div class="row">
							<div class="col-md-12 top-buffer">
								<button click.delegate="onChartAdd()" class="py-3 btn btn-primary full-width font-notcool">${i18n.tr("add-to-chart")}</button>
							</div>
						</div>
				</div>
		  </div>
	</div>
</template>