<template>
  <require from="bootstrap/css/bootstrap.css"></require>
   <div class="row menu-holder">
    <ul class="col col-xl-8 menu end-align-child">
      <div class='row'>
        <div repeat.for="tab of tabs" class = 'col col-sm-auto col-sm-offset-2 menu-item-col'> 
          <li class='menu-item'><a class='menu-link' href="#">${tab.name}</a>
            <compose 
            model.bind = "tab"
            view-model = "../submenu/submenu"
            view       = "../submenu/submenu.html"
            ></compose>
          </li>
        </div>
      </div>
    </ul>
  </div>
</template>
